img {
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 15px;
}

.sticky-top {
    .navbar {
        background-color: rgb(44, 44, 44);
    }
}


.image-container {
    align-content: space-between;
    margin-left: 50px;
    margin-right: auto;
}

.right{
    display: flex;
    justify-content: end;

}
.nav-link {
    margin-right: 70px;
    color: blanchedalmond;
    
}

.category {
    margin-top: 10px;
    margin-left: 70px;
}

input {
    border-radius: 30px;
}
    



