.container-fluid {
    padding: 0;
    margin: 0;
    .container {
        background: white;
        border: 1px solid black;
        border-radius: 15px;
        margin-top: 50vh;
        margin-bottom: 15px;
        
        .dismenuizq {
            padding: 12px;
        }
        .dismenuderc {
            background: white;
            padding: 12px;
            border-radius: 0 15px 0;
            
        }
        .dismenu {
            height: auto;
            a {
                color: black;
            }
        }
    }
}

.textnegrita {
    font-weight: 500;
}

body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/valorant-fondo.jpg?alt=media&token=6248053e-a7da-444a-9ca9-5eb23b11f59e);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}