<body>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-3 dismenuizq">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/valorant-portadajpg.jpg?alt=media&token=cee7daef-daa9-421c-94d7-bcc7437cb91d"
            class="rounded float-start img-thumbnail"
            alt="..."
          />
        </div>
        <div class="col-9 dismenuderc">
          <h3>Valorant</h3>
          <p class="textnegrita">
            Riot Games | Shooter, Action, First-Person, Tactical
          </p>
          <p>
            Valorant es un shooter táctico competitivo 5v5, desde la perspectiva
            de primera persona. Tiene lugar en una Tierra del futuro cercano y
            presenta un elenco de personajes conocidos como Agentes, cada uno de
            los cuales tiene su propio conjunto único de habilidades para crear
            oportunidades tácticas.
          </p>
          <p>Nota de la critica en metacritic: 80 / 100</p>
        </div>

        <!-- Submenu -->
        <div class="col-12 dismenu">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Chat general</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Imagenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
          </ul>
        </div>

        <!-- Carrusel de imagenes -->
        <div class="content">
          <app-carrusel> </app-carrusel>
        </div>
      </div>
    </div>
  </div>
</body>
